h1{
    color:red;
}
#home-intro{
    text-align:center;
    border: 3px solid orange;

}
#home-intro:hover{
    background-color: blueviolet;
}
#nav{
    text-align: center;
    background-color:brown;
    height: 25px;
    padding-top: 5px;
    margin-bottom: 5px;
}
#nav a{
    margin: 0px 100px;
    text-decoration: none;
    color:white;
}
p1{
    color:red;
}